@(engagements: Map[Song, List[Assignment]])
<h1>Récapitulatif de mon engagement Lipdub:</h1>

<p>Chaque paragraphe correspond à un clip que j'ai à enregistrer.</p>
@for(song <- engagements.keys){
    <h2>@song.name</h2>
    @for(engagement <- engagements(song)){
        <p style="border: 1px thin">
            @engagement.pre
            <br/>
            @engagement.content
            <br/>
            @engagement.post
        </p>
    }
}

<h2>Merci !</h2>
<p>Merci encore pour ta participation, un futur mail te sera envoyé dans quelques semaines, avec un lien, pour que tu puisses nous envoyer tes clips ! N'oublie pas de suivre les conseils donnés dans le mail précédant !</p>

<p>Marie Anne</p>