@(engagements: Map[Song, List[Assignment]])
<h1>Récapitulatif de mon engagement Lipdub:</h1>

<p>Chaque paragraphe correspond à un clip que j'ai à enregistrer.</p>
@for(song <- engagements.keys){
    <h2>@song.name</h2>
    @for(engagement <- engagements(song)){
        <p>
            @engagement.pre
            <br/>
            @engagement.content
            <br/>
            @engagement.post
        </p>
    }
}

<h2>Merci !</h2>
<p>Merci encore pour votre participation, un futur mail vous sera envoyé dans quelques semaines, avec un lien, pour que vous puissiez nous envoyer vos clips ! N'oubliez pas de suivre les conseils donnés dans le mail précédent !</p>

<p>À bientôt !</p>
<p>Les frères et soeurs d'Elizabeth et Damien</p>