@()



<p>Chère famille et chers amis,</p>

<p>
    vous allez bientôt avoir l'honneur d'être invités au mariage d'Elizabeth et Damien.
    Pour cette occasion, nous voulons faire une SURPRISE bien préparée de la part de ceux qui seront présents mais aussi de ceux qui ne pourront pas forcément être présents.
</p>

<p>
Notre objectif est de composer un lipdub avec 4 chansons que les mariés aiment bien. Le principe du lipdub est de faire une vidéo où chaque famille ou groupe d'amis fait du playback sur une chanson ou un bout de la chanson en question. Chacun peut se déguiser ou danser à sa guise dans des endroits familiers ou insolites. Vous avez des exemples de lipdub sur youtube si vous voulez.
Les 4 chansons qui ont été sélectionnées sont:
</p>
<ul>
    <li><a href="https://www.youtube.com/watch?v=_uLDneG8XJg">Marry You de Bruno Mars</a></li>
    <li><a href="https://www.youtube.com/watch?v=9GWxS9WHFOc">L'aventurier d'Indochine</a></li>
    <li><a href="https://www.youtube.com/watch?v=80_t0ssDHQY">La tribu de Dana de Manau</a></li>
    <li><a href="https://www.youtube.com/watch?v=493R05ifNsI">Je te donne de Jean-Jacques Goldman</a></li>
</ul>

<p>Les paroles des 4 chansons sont en pièces jointes</p>

<p>
Afin de faciliter le montage final voici quelques conseils que nous vous suggérons:
</p>
<ol>
    <li>utilisez les liens ci-dessus pour que tout le monde ait les mêmes versions des chansons</li>
    <li>mettez la bande sonore assez forte pour qu'on l'entende dans la vidéo</li>
    <li>si possible essayez de faire des vidéos communes par groupe d'amis (ex: taekwondo, vovinam, infirmières...) ou en famille</li>
    <li>enregister vos vidéos au format <strong>paysage</strong> , c'est très important !</li>
    <li>et tenez-les prêtes pour la collecte qui aura lieu le 26/01/2015</li>
</ol>

<p>Et maintenant, choisissez les bouts de chansons que vous voulez enregistrer en allant sur le site <a href="http://clip.makitude.com">Clip pour Lizbeth et Dadou</a></p>
<p>Entrez votre adresse mail et le code <em>lizbethdadou2015</em> . Dans la colonne de gauche, parcourez les différentes chansons et sélectionnez les bouts que vous voulez enregistrer (minimum 4 extraits), en cliquant dessus. Un second clic désélectionne l'extrait. Quand vous avez fini, cliquez sur le bouton "j'ai fini". Vous recevrez un mail récapitulatif.</p>

<p>Attention, l'application n'est pas parfaite, elle a été développée (très rapidement) donc en cas de problème (ou pour contribuer à l'améliorer), contactez Manu (nhanmanu@@gmail.com).</p>
<p>Nous espérons que vous serez nombreux à y participer. Si vous avez la moindre question, n'hésitez pas à contacter Emilie, la soeur de Damien (escoffier.emilie1@@gmail.com) ou Marie-Anne, la soeur d'Elizabeth (madominh@@gmail.com). </p>

<p>
    Nous vous rappelons que c'est une surprise, merci d'être discrets vis-à-vis des mariés ! :-)
</p>

<p>À bientôt !</p>
<p>Les frères et soeurs d'Elizabeth et Damien</p>